<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>autohide</key>
    <true/>
    <key>dashboard-in-overlay</key>
    <true/>
    <key>launchanim</key>
    <true/>
    <key>loc</key>
    <string>en_US</string>
    <key>mineffect</key>
    <string>scale</string>
    <key>minimize-to-application</key>
    <true/>
    <key>mru-spaces</key>
    <false/>
    <key>orientation</key>
    <string>right</string>
    <key>persistent-apps</key>
    <array/>
    <key>persistent-others</key>
    <array>
        <dict>
            <key>tile-data</key>
            <dict>
                <key>arrangement</key>
                <integer>2</integer>
                <key>displayas</key>
                <integer>0</integer>
                <key>file-data</key>
                <dict>
                    <key>_CFURLString</key>
                    <string>file://{{HOME_PATH}}/Downloads/</string>
                    <key>_CFURLStringType</key>
                    <integer>15</integer>
                </dict>
                <key>file-label</key>
                <string>Downloads</string>
                <key>file-type</key>
                <integer>2</integer>
                <key>preferreditemsize</key>
                <integer>-1</integer>
                <key>showas</key>
                <integer>1</integer>
            </dict>
            <key>tile-type</key>
            <string>directory-tile</string>
        </dict>
    </array>
    <key>showAppExposeGestureEnabled</key>
    <true/>
    <key>tilesize</key>
    <real>65</real>
    <key>trash-full</key>
    <true/>
    <key>version</key>
    <integer>1</integer>
</dict>
</plist>

